<div class="block">
  <%= form_with(model: task, class: "inline-block my-3 text-lg w-72") do |form| %>
    <%= form.check_box :completed,
                       onchange: "this.form.requestSubmit()",
                       class: "align-middle bg-gray-50 border-gray-300 checked:bg-green-500 focus:ring-3 focus:ring-blue-300 h-5 mr-2 rounded w-5" %>
    <%= tag.span task.description, class: task.completed ? "line-through" : "" %>
  <% end %>
</div>
